html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	background-image: url("./backs/backS2.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 200;
	font-size: 17pt;
	text-align: center;
}

table, tr, th {
	margin: 0;
	border: 0;
	padding: 0;
}
/*img {
	width: 70%;
}*/

#header {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	/*border-bottom-width: 16px;
	border-style: solid;
	border-color: #DA4000;*/
	background-color: #222;
	background-color: rgba(32, 32, 32, .6);
	/*backdrop-filter: blur(5px);*/
	color: #FFF;
}

#headerLogo {
	width: 90%; 
	margin: 5%;
	display: block;
}

#headerText {
	font-size: 42pt;
	font-family: sans-serif;
	font-weight: 200;
}

#headerSub {
	font-size: 20pt;
	font-style: italic;
	font-family: sans-serif;
	font-weight: 200;
}

#content {
	margin: 32px 15% 0 15%;
	padding: 0 0 0 0;
	color: #000;
}

#progressbar {
	width: 100%;
	background-color: grey;
}

#progressbarActive {
	width: 100%;
	height: 3px;
	background-color: #DA4000;
}

#spreadsheet {
	font-family: sans-serif;
	font-weight: 200;
	font-size: initial;
}

.dialog, .dialogDebug, #status {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 20px;
	background-color: rgba(255, 177, 131, .4);
	background-color: rgba(240, 240, 240, .72);
	/*backdrop-filter: blur(5px);*/
	border-radius: 3px;
}

#status {
	white-space: pre-line;
}

.dialog {
	display: none;
}

.marginedBlock {
	margin-top:    20px;
	margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
	margin-top: 1px;
	border: 0;
	display: inline-block;
	font-size: 17pt;
}

input[type="file"], input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	display: block;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .60);
	margin: auto;
	margin-top: 2px;
	border: 0;
	padding: 5px;
	width: 50%;
}
input[type=checkbox]:checked + label {
	/*color: rgb(0, 255, 153);*/
	color: rgb(255, 102, 0);
}
input[type=checkbox]:not(:checked) + label {
	color: rgba(255, 255, 255, .5);
}

.shortinput {
	width: 10%;
}

.longinput {
	width: 50%;
}

.xradio_host {
	margin: 10px;
}

.progressList li {
	list-style: none;
	text-align: initial;
	font-family: "Roboto Mono", monospace;
}

.subgroup {
	background-color: rgba(.9, .9, .9, .1);
	margin: 5px;
	padding: 5px;
}

.xbutton, .xradio, input[type="submit"]{
	margin: auto;
	margin-top: 2px;
	border: 0;
	padding: 5px;
	width: 50%;
	font-family: sans-serif;
    font-weight: 200;
	font-size: 17pt;
	background-color: #eee;
	text-decoration: none;
	cursor: pointer;
	display: block;
	border-radius: 3px;
}

.xbutton:hover, input[type="submit"]:hover{
	background-color: #ddd;
}

.xbutton:active, .xradio:active, input[type="submit"]:active{
	background-color: #999;
}

.xradio {
	margin: 1px;
	width: 10%;
	display: inline-block;
}

.xradio_selected {
	background-color: #DA4000;
}

.dropbtn {
	width: 32%;
	padding: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(220, 220, 220, .64);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
	cursor: pointer;
	border-radius: 3px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.modal {
	position: fixed;
	z-index: 5;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	white-space: pre-line;
}

.progressItem{
	white-space: pre-line;
	cursor: pointer;
}

.progressItem:hover{
	background-color: rgba(255, 255, 255, .2);
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 70%;
	height: 42px;
	background: #333;
	border-radius: 3px;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 170px;
	height: 42px;
	background: url("./confirm.png");
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	width: 170px;
	height: 42px;
	background: url("./confirm.png");
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	cursor: pointer;
}

.easterSlider::-webkit-slider-thumb {
	background: url("http://n6.femjoy.com/free/16864111_gur063_ahq233/pics/014.jpg");
	background-size: cover;
	background-position: center;
}

/*.easterSlider::-moz-range-thumb {
	background: url("http://n6.femjoy.com/free/16864111_gur063_ahq233/pics/014.jpg");
	background-size: cover;
	background-position: center;
}*/